@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Raleway;
    /* background-color: #ecf0f1; */
}


/* body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 12px;
    background: #84c7a7;
    background: linear-gradient(135deg, #3023ae 0%, #53a0fe 50%, #03848d 100%);
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
} */

.copyright {
    position: absolute;
    bottom: 0;
}

.copyright a {
    text-decoration: none;
    color: #16a085;
}

.copyright a:hover {
    text-decoration: underline;
}

.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.button2 {
    background-color: #1a4270 !important;
    color: white !important;
}

.button.type1 {
    color: #5EA9DD;
}

.button.type1.type1::after,
.button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #5EA9DD;
    border-right-color: #5EA9DD;
}

.button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #5EA9DD;
    border-left-color: #5EA9DD;
}

.button.type1.type1:hover:after,
.button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
}

.button.typeDown {
    color: #5EA9DD;
}

.button.typeDown.typeDown::after,
.button.typeDown.typeDown::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.typeDown.typeDown::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #5EA9DD;
    border-right-color: #5EA9DD;
}

.button.typeDown.typeDown::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #5EA9DD;
    border-left-color: #5EA9DD;
}

.button.typeDown.typeDown:hover:after,
.button.typeDown.typeDown:hover:before {
    width: 100%;
    height: 100%;
}

.button.type2 {
    color: #5EA9DD;
}

.button.type2.type2:after,
.button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5EA9DD;
    transition: all 0.3s ease;
    transform: scale(0.85);
}

.button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
}

.button.type2.type2:hover:after {
    transform: scale(1);
}

.button.type3 {
    color: white;
}

.button.type3.type3::after,
.button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
}

.button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
}

.button.type3.type3:hover:after,
.button.type3.type3:hover:before {
    border-bottom-color: #435a6b;
    border-right-color: #435a6b;
    border-top-color: #435a6b;
    border-left-color: #435a6b;
    width: 100%;
    height: 100%;
}

.button.type4 {
    color: red;
}

.button.type4::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
}

.button.type4::after {
    bottom: 0;
}

.button.type4:hover::after {
    width: 50px;
}


/*# sourceMappingURL=stylesScss.css.map */